
/* 게시판 글쓰기 */
#board_box { position: relative; width: 800px; margin: 0 auto; }
#board_box h3 { margin-top: 30px;	padding: 10px; border-bottom: solid 2px #feb737; font-size: 16px; }
#board_form span { display: inline-block; list-style: none;}
#board_form .col1 { width: 150px; float : left; list-style: none; }
#board_form li {	padding: 20px; border-bottom: solid 1.2px #fafafa; list-style: none;}
#board_form input { width: 500px; height: 25px; }
#board_form textarea { width: 500px;	height: 150px; }
#board_form #text_area {	position: relative;	height: 158px; }
#board_form #text_area .col1 { position: absolute; top: 10px;  }
#board_form #text_area .col2 { position: absolute; left: 166px; }
#board_box .buttons { text-align: right; margin: 20px 0 40px 0; }
#board_box .buttons li { display: inline; }
#board_box .buttons button { padding: 5px 10px; cursor: pointer; }
/* 게시판 목록보기 */
#board_list li { padding: 10px 0; border-bottom: solid 1px #dddddd; }
#board_list span { display: inline-block; text-align: center;}
#board_list .col1 { width: 80px; }
#board_list .col2 { width: 330px; text-align: left; }
#board_list .col3 { width: 100px; }
#board_list .col4 { width: 40px; }
#board_list .col5 { width: 180px; }
#board_list .col6 { width: 40px; }
#page_num {	text-align: center;	margin: 30px 0 }
#page_num li { display: inline; }
/* 게시판 내용보기 */
#board_box { width: 800px; margin: 0 auto; }
#board_box .title { margin-top: 30px; padding: 10px; border-bottom: solid 2px #516e7f; font-size: 20px; }
#view_content li:nth-child(1) {	padding: 15px; border-bottom: solid 1px #aaaaaa;width: 200px; }
#view_content .col2 { float: right; }
#view_content li:nth-child(2) {	padding: 15px 15px 80px 15px; border-bottom: solid 1px #cccccc; }
#view_content li:nth-child(3) button { padding: 5px 20px; margin: 15px 0 40px 720px; cursor: pointer; }
