{% load static %}
<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>소문</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo32x32_line.png' %}">
    
        <!-- CSS 연결 -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fullPage.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/select.css' %}">
    
        <!-- JS 연결 -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src=" {% static 'js/jquery.fullPage.js' %}"></script>
        <script type="text/javascript" src=" {% static 'js/main.js' %}"></script>
    </head>
 
<body style="background-color: #f0dbff;" >
    <div class = "title">
        <h6> 원하는 태그를 선택하세요 </h6>
    </div>
    <div  class = 'tag'>
        <button onClick="location.href='{% url 'movies:movie_tag' 'action' %}'">#액션</button>
        <button onClick="location.href='{% url 'movies:movie_tag' 'horror' %}'" class="horror" >#호러</button>
        <button onClick="location.href='{% url 'movies:movie_tag' 'drama' %}'" class="drama">#드라마</button>
        <button onClick="location.href='{% url 'movies:movie_tag' 'comedy' %}'" class="comedy">#코미디</button>
        <button onClick="location.href='{% url 'movies:movie_tag' 'romance' %}'" class="romance">#로맨스</button>
        {% csrf_token %}
    </div>
</body>
</html>