@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
  --button-color: #ffffff;
  --button-bg-color: #feb737;
  --button-hover-bg-color: #feb737;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  background: var(--button-bg-color);
  color: var(--button-color);
  margin-top: 50px;
  margin: 6px;
  padding: 0.5rem 1rem;
  
  font-family: 'Cafe24Ssurround';
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  
  border: none;
  border-radius: 4px;
  
  display: inline-block;
  width: auto;
  
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  
  cursor: pointer;
  
  transition: 0.5s;
}
button.horror {
    --button-bg-color: #feb737;
    --button-hover-bg-color: #feb737;
  }
  
  button.drama {
    --button-bg-color: #feb737;
    --button-hover-bg-color: #feb737;
  }
  
  button.comedy {
    --button-bg-color: #ffc107;
    --button-hover-bg-color: #e0a800;
  }
  button.romance {
    --button-bg-color: #ffc107;
    --button-hover-bg-color: #e0a800;
  }
  
  button:active{
	background-color: #feb52c;
	box-shadow: 0 5px #d68b01;
	transform: translateY(4px) translateX(-50%);
}
  button:hover{
	box-shadow: 0 6px #f19d01;
	transform: translateY(-3px) translateX(-50%);
}
  button:focus {
    background: var(--button-hover-bg-color);
    outline: 0;
  }
  button:disabled {
    opacity: 0.5;
  }

  div.tag{
    float : left;
    height: 450px;
    text-align: center;
    margin: 350px;
    justify-content: space-evenly;
  }

  
  body {
    margin: 0;
    background: #eee;
  }
/* ------------------------------------------------텍스트----------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.title {
	position: relative;
	display: inline-block;
	width: 100%;
	text-align: center;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;

	font-family: 'SF_HambakSnow';
	font-size: 16px;
	color: #fe838b;
	white-space: nowrap;
}

.title h6 {
	font-family: 'Gowun Dodum', sans-serif;
	color: #87aefb;
	font-size: 2em;
	font-weight: 900;
	margin: 50px;
	display: inline-block;
	position: relative;
    top: 350px;
}

.title h6:before, .title h6:after {
	position: absolute;
	height: 2px;
	content: "";
	width: 120%;
	top: 50%;
	border-top: 2px solid #fafafa;
	border-bottom: 2px solid #fafafa;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.title h6:before {
	left: -130%;
}

.title h6:after {
	right: -130%;
}
