<title>영끌:회원가입</title>
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

p.165 폼 / ㅔ.195
<body>
<div class='container'> 
	{% comment %} onmousemove='phoneChk(1); nameChk(1); pwChk(1); pwAgainChk(1); idChk(1); nickChk(1); clsLimit(); chkInput(5);'> {% endcomment %}
	<div class='row my-5'>
		<div class='col'>
			<div class='row my-1'>
				<h2 class='font-weight-bold'>회원가입</h2><pre> </pre>
			</div>
			<hr>
			<div class='row mt-1 ml-3 justify-content-between text-nowrap'>
				<h4>ACCOUNT</h4>
				<h6 class='small font-wieght-bold mr-3'>＊ = 필수입력사항</h6>
			</div>
			<form method='POST'>
				{% csrf_token %}
				<div class='row mx-5'>
					<div class='col mt-4'>
						<div class='row mb-4'>
							<h6 class='font-wieght-bold'>*</h6>
							<input type='text' class='form-control' name='user_id' id='user_id' value='user2'
								placeholder=' 아이디를 입력하세요.' required>
							<h6 class='font-wieght-bold' id='user_id_check'></h6>
						</div>
						<div class='row mb-2'>
							<h6 class='font-wieght-bold'>*</h6>
							<input type='password' class='form-control' name='password' id='password' value='user2'
								placeholder=' 비밀번호를 입력하세요.' required>
							<h6 class='font-wieght-bold' id='password_check'></h6>
							<small class='text-dark ml-2'>
								- 영문 대소문자, 숫자, 특수문자를 혼합하여 6~10자의 비밀번호를 입력해주세요. (띄어쓰기 금지)
							</small>
						</div>
						<div class='row mb-2'>
							<h6 class='font-wieght-bold'>*</h6>
							<input type='password' class='form-control' id='password_again' value='user2'
								placeholder=' 위와 동일한 비밀번호를 입력하세요.' required>
							<h6 class='font-wieght-bold' id='password_double_check'></h6>
						</div>
						<div class='row mb-4'>
							<h6 class='font-wieght-bold'>*</h6>
							<input type='text' class='form-control' name='user_name' id='user_name' value='user2'
								placeholder=' 이름을 입력하세요.' required>
							<h6 class='font-wieght-bold' id='user_name_check'></h6>
							<small class='text-dark ml-2'>
								- 2자 이상의 한글을 입력하세요. (띄어쓰기 금지)
							</small>
						</div>
						<div class='row mb-4'>
							<input type='text' class='form-control' name='email' id='email' value='user2@user.com'
								placeholder=' 이메일을 입력하세요.' required>
							<h6 class='font-wieght-bold' id='email_check'></h6>
						</div>
					</div>
				</div>		
				<div class='row mx-3 justify-content-around'>
					<a class='btn btn-outline-secondary col mr-1' data-toggle='modal' data-target='#modal'>이전</a>
					<button class='btn btn-secondary col' id='add_user_button' title='필수사항 입력 후 다음 단계로 진행할 수 있습니다.'>회원가입</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class='modal fade' id='modal' tabindex='-1'>
	<div class='modal-dialog'>
		<div class='modal-content'>
			<div class='modal-header'>
				<strong>돌아가기</strong>
				<button type='button' class='close' data-dismiss='modal'>
					<span>x</span>
				</button>
			</div>
			<div class='modal-body text-center'>
				<p>이전 단계로 돌아가시겠습니까?</p>
				<small>
					현재 진행단계의 변경사항이 저장되지 않습니다.
				</small>
			</div>
			<div class='modal-footer justify-content-center'>
				<button class='btn btn-outline-secondary' data-dismiss='modal'>아니오</button>
				<a href='../login' class='btn btn-secondary'>&nbsp;&nbsp;&nbsp;예&nbsp;&nbsp;&nbsp;</a>
			</div>
		</div>
	</div>
</div>
</body>

<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	document.getElementById('add_user_button').onclick = function() {
		const data = axios({
			url: '/registration/signup/',
			method: 'post',
			// params: {
			// 'a': 10, 'b': 20,
			// 'c': 30
			// }
			});
			data.then(function (result) {
			console.log('result.data');
		});
	}
</script> -->
