{% load static %}
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></script>
<script src="{% static 'bootstrap.min.js' %}"></script>
<script type='text/javascript'>
    $(document).ready(function(){
        $(".recommend").on('click', function() {
        if(confirm("정말로 추천하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
    // var data = document.getElementById("recommend")
    // console.log(data)

</script>

<div class="container">
    <div class="card">
        <div class="card-body">
            <div>
                <div>
                    <h1>제목: "{{ post.post_title }}"</h1>
                    <h1>작성자 : {{ post.user_name.user_name}}</h1>
                    <h1>작성일 : {{ post.date }}</h1>
                    {% if post.modify_date %}
                    <h1>수정일 : {{ post.modify_date }}</h1>
                    {% endif %}
                    <div class="col-1"> <!-- 추천영역 -->
                        <div class="bg-light text-center p-3 border font-weight-bolder mb-1">{{post.recommender.count}}</div>
                        <a href="#" data-uri="{% url 'post_detail:post_recommend' post.post_id  %}"
                           class="recommend btn btn-sm btn-secondary btn-block my-1" id='recommend'>추천</a>
                    </div>
                    {% comment %} <h1>추천수 : {{ post.recommender.count }}</h1> {% endcomment %}
                    <h1>태그 : {{ post.movie_genres.get_genre_tag_display }}</h1>
                    {% if post.post_image %}
                        <img src="{{ post.post_image.url }}" width="500" height="500">
                    {% endif %}
                    <div class="my-3">
                        <a href="{% url 'post_detail:post_modify' post.post_id %}" 
                            class="btn btn-sm btn-outline-secondary">수정</a>
                    </div>
                    <div class="my-3">
                        <a href="{% url 'post_detail:post_delete' post.post_id %}" 
                            class="btn btn-sm btn-outline-secondary">삭제</a>
                    </div>
                    <h1>내용 : {{ post.post_contents }}</h1>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>