{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>소문</title>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo32x32_line.png' %}">
</head>
<body>
    <h1>Edit your Post!</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {% if form.errors %}
        <div class="aler alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                    <strong>{{ field.label }}</strong>
                    {{ field.errors }}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        <div class="form-group">
            <label for="post_title">제목</label>
            <input type="text" class="form-control" name="post_title"
            value="{{ PostForm.post_title|default_if_none:'' }}">
        </div>

        <div class="form-group">
            <label for="post_contents">내용</label>
            <textarea type="text" class="form-control" name="post_contents"
            rows="10" cols="30" value="{{ PostForm.post_contents|default_if_none:'' }}"></textarea>
        </div>        

        <div class="form-group">
            <label for="post_image">사진을 선택하세요</label>
            <input type="file" name="post_image" accept="images/*" >
        </div>
   
        <button type="submit" class="save btn btn-default">Save</button>    
    </form>
    
</body>
</html>